.accordion {
    list-style: none;
    width:85%;
    
    
  }


  .acc__main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f8fa;
  }

  .button_div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .title{
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    color: #217fbe;
  }

  
  .subtitle{
    font-size: 15px;
    font-weight: 500;
    margin-top: 40px;
    color: #217fbe;
  }
  
  .accordion_item {
    border-top: 1px solid #9f9f9f;
  }

  .buttonImage{
    width: 150px;
    height: 100px ;
    border-radius: 10px;
  }
  
  .button {
    border-radius: 10px;
    font-size: 16px;
    
    text-align: left;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8px;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
    -webkit-box-shadow: 2px 3px 1px #777777;
    -moz-box-shadow: 1px 3px 1px #c4c4c4;
    box-shadow: 0px 3px 2px #a4adb3;
  }

  
  .control {
    font-size: 30px;
    margin-top: 30px;
    color:#217fbe ;
  }

  .accordian__bottom{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      padding-bottom: 10px;
      width:100%;
  }
  .answer {
    background-color: #ffffff;
    display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-right: 10px;
  justify-content: space-around;
  width:100%;
  }


  .servicecard__text .card__subtitle{
    font-weight: 400;
    color:rgb(176, 118, 11);
    font-size: 20px;
    margin-bottom: 15px;
  }

  .servicecard__text .card__subtitle2{
    font-weight: 400;
    color:rgb(176, 118, 11);
    font-size: 15px;
    margin-bottom: 15px;
  }


  
  /* activate toggle */
  .accordion_item.active .button {
    background-color: #217fbe;
    padding-top: 10px;
    color: #ffffff;
  }

  .button:hover {
    background-color: #59a5d8;
    padding-top: 10px;
  }

  .hoverTitle{
    margin-top: 40px;
    color:#f5f8fa; 
    display:none ;
  }
  .accordion_item:hover .hoverTitle {
    color: #fff;
    display: block;
  }

  .accordion_item:hover .title {
    display: none;
  }

  .accordion_item:hover .subtitle {
    color: #fff;
  }

  .accordion_item:hover .control {
    color: #fff;
  }

  .accordion_item.active .title {
    background-color: #217fbe;
    color: #ffffff;
    display: block;
  }

  .accordion_item.active .hoverTitle {
    background-color: #217fbe;
    color: #ffffff;
    display: none;
  }

  .accordion_item.active .subtitle {
    background-color: #217fbe;
    color: #ffffff;
  }

  .accordion_item.active .control {
    background-color: #217fbe;
    color: #ffffff;
  }


  .accordian__div {
    background-color: #f5f8fa;
    padding-top: 10px;
  }

  .services__heading{
    font-size: 20px;
    margin-top: 10px;
  }

  .answer_wrapper {
    height: 0;
    overflow: hidden;
    transition: height ease 0.2s;
  }
  /* .answer_wrapper.open {
    height: auto;
  } */