
.Input{
    display: flex;
justify-content: center;
align-items: center;
}
.ad__right img{
    height: 400px;
    min-height: 300px;
}
.ad__left__first
{
    color:#217fbe;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.ad__left__second
{
    color:#217fbe;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.ad__left__third{
    color:#217fbe;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
    text-align: center;

}

.input__button{
    margin-left: 10px;
    border-radius: 10px;
    height: 35px;
    width: 75px;
    font-weight: 600;
    font-size: 15px;
    color: #217fbe;
    background: -webkit-linear-gradient(50deg,  #3983FB 100%);
    -webkit-background-clip: button;
    -webkit-text-fill-color: ;
}


  
  
.contact__logo{
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.whatsapp__img{
margin-right: 20px;
height:75px;
width:75px;
}

.email__img{
    margin-right: 20px;
height:55px;
width:80px;
padding-top: 10px;
}
.ad__left{
    margin-top: 30px;
}

.ad__right{
    width:100%;
}

.ad__main{
    margin-top: 30px;
    height: auto;
    position: relative;
    grid-area: 1/1/1/1;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

@media only screen and (max-width: 1024px) {

    .ad__right{
        display: block;
        overflow:visible;
        width:100%;
    }

    * {
        margin-left: 1px;
        margin-right: 1px;
    }

    .ad__left__first
{
    text-align: center;
}

.ad__left__second
{
    text-align: center;
}

.ad__left__third{
    text-align: center;

}

.contact__logo{
    justify-content: center;
    
}

.ad__main{
    display: block;
}



}