.header__left{
    display:flex;
   
}

.header__left img{
   margin-right: 20px;
   height:100px;
   width:200px;

   @media (max-width: 767px) {
    height:50px;
   width:100px;
  }
 
}

.header__left h3{
    margin-top: 40px;
 }

.arrow{
    margin-top: 43px;
}

.header__middle{
    height: 50px;
    margin-top: 7px;
    width: 350px;
    color: #5c7fbd;
    margin-right: 50px;
    margin-left: 100px;
}

.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:  #ffffff;
    color: #217fbe;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 100;
  
}

.navmenu{
    display: flex;
    justify-content: space-around; 
    margin-right: 10px; 
    margin-left: 100px;

    @media (max-width: 767px) {
        display:align-self ;
        justify-content: space-around; 
      }
}

.header__right{
    margin-top: 2px;
}

.navmenu h3{
    margin-right: 50px; 
}

