

.accordian__div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#217fbe;
    background: -webkit-linear-gradient(30deg, #f99c2b 20%, 
    #217fbe 70.42%, #3983FB 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1024px) {
.accordian__div{

    text-align: center;
}
}