.servicecard{
    margin-bottom: 40px;
    width:300px;
    -webkit-box-shadow: 1px 3px 1px #9E9E9E;
    -moz-box-shadow: 1px 3px 1px #9E9E9E;
    box-shadow: 0px 3px 2px #9E9E9E;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #fbfbfb;
}
.oldprice{
    text-decoration: line-through;
    color:rgb(176, 118, 11);
    margin-left: 10px;
    margin-top: 40px;
}

.rupee{
    color:rgb(176, 118, 11);
    margin-left: 10px;
    margin-top: 40px;
}

.newprice{
    margin-left: 10px;
    font-size: 30px;
}

.servicecard_thumbnail{
    width:250px;
    height:150px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

.servicecard__info{
    display:flex;
    margin-top: 2px;
    padding-right: 30px;
    color: #217fbe;
}

.servicecard__text{
    margin-left: 10px;
}

.servicecard__text > h4{
    margin-bottom: 5px;
    font-size: 24px;
    color:#217fbe;
    align-self: center;
}




.price_div{
   color:#217fbe;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
    display:flex;
}

.extra{
    font-size: 15px;
    font-weight: 500;
    margin-top: 40px;
    margin-left: 10px;
}

.taxes{
    font-weight: 400;
    font-size: 15px;
    color:#217fbe;
    margin-top: -30px;
    margin-left: 10px;
}

